{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "rules": {
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": ["variable"],
        "format": ["camelCase", "PascalCase"],
        "leadingUnderscore": "allow"
      }
    ],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-shadow": 0
  }
}
